// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// abstracts
@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';

// components
@import './components/navbar';
@import './components/hero';
@import './components/card';

// Custom styles 

* {
    box-sizing: border-box;
}

html{
    font-size: $html-font-size;

    body {
        margin: 0;
        font-family: "Poppins", sans-serif;
    }
}

div,
main,
nav,
footer{
    // border: 1px solid blueviolet;
}

.experiences-wrapper{
    flex-wrap: nowrap;
    overflow-x: auto;
}