.hero{
    .img-wrapper{
        display: flex;
        justify-content: center;
        margin: remify(30px) 0 1rem;
        // text-align: center;
    
        .hero-img{
            max-width: 400px;
        }
    }
    
    .title{
        font-size: remify(36px);
        font-weight: 600;
    }
    
    .description{
        font-size: 1rem;
        font-weight: 300;
    }
}

